body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}



.topnav {
    background-color: #2c4ebd;
    overflow: hidden;
    padding: 10px;

    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;

}

.topnav a {

    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration-line: none;

}




.footer {
    background-color: #313131;
    padding: 10px 16px;
}

.footer h2 {
    text-align: center;
    color: white;
}