

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    
    width: 1920px;
    height: 1080px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    background-color: #2c4ebd;
    padding: 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    
}


header {
    display: flex;
   

}

header h2 {
    
    color: white;
    font-size: 20px;

}

img {
    margin: 0 auto;
    padding: 0;
}

.menu a {
    text-align: center;
}


/* .topnav {
    background-color: #2c4ebd;
    padding: 20px;

    position:fixed;
    top: 0;
     width: 100% 
    left: 0;
    right: 0;

} */

.topnav a {

    float: left;
    color: white;
    padding: 14px 16px;
    text-decoration-line: none;

}

.footer {
    background-color: #313131;
    padding: 30px 30px;
}

.footer h2 {
    text-align: center;
    color: white;
}