/* 기본 */
/* * {
    margin: 0;
    padding: 0;
 } */
 
 .wrap {
    width: 1920px;
    height: 1080px;
 }
 
 /* 헤더 */
 header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white
 
 }
 
 .logo {
    width: 200px;
    height: 60px;
    background-color: #ffcccc;
 }
 
 
 .nav {
    width: 1000px;
    height: 100px;
    background-color: antiquewhite;
    
 }

 ul {
    display: flex;
    justify-content: space-around;
 }
 
 
 /* 슬라이드 애니메이션 */
 .slideContent {
    height: 900px;
    background-color: lightslategray
 }
 
 /* 공지사항 */
 .content {
    height: 200px;
    background-color: #ffcccc;
    display: flex;
 
 }
 
 .con1 {
    width: 33.33%;
    background-color: rgb(212, 224, 188);
 }
 
 .con2 {
    width: 33.33%;
    background-color: rgb(181, 223, 98);;
 }
 
 .con3 {
    width: 33.33%;
    background-color: rgb(212, 224, 188);
 }
 
 /* 푸터 */
 footer {
    height: 100px;
    background-color: #636363;
    text-align: center;
    /* display: flex; */
 }
 
 /* .f1 { 
    width: 20%; 
    background-color: lightgray;

 }
 
 .f2 {
    width: 60%; 
    background-color: yellow;
 }
 
 .f3 {
    width: 20%;
    background-color: lightgray;
 } */