/* 기본설정 --------------- */
* { margin: 0; padding: 0; box-sizing: border-box; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }

/* <header> -------------- */
header, footer { display: flex; height: 100px; align-items: center; }
header nav { width: 600px; margin: 58px 0 0 370px; }

header nav > ul { display: flex; }
header ul a { display: block; text-align: center; padding: 10px; }

.menu { position: relative; width: 25%; }
/* 원래 서브메뉴 설정값임 테스트를 위해 주석처리 해놓음 */
/* .submenu { position: absolute; width: 100%; z-index: 998; display: none; } */
.submenu { position: absolute; width: 200%; background: #6f886f; z-index: 998; display: none; }
.menu:hover > a { color: #1b7c3b; background: yellowgreen; }

