* { margin: 0; padding: 0; box-sizing: border-box; }
li { list-style: none;}
a { text-decoration: none; color: inherit; }

header { width: 200px; height: 100%; border-right: 1px solid #000; padding-top: 30px; }

/* aspect-radio 이미지 비율적용 */
header h1, .logo { width: 200px; aspect-ratio: auto; }

header nav { margin-top: 20px; }
header nav >  ul { width: 180px; padding-left: 14px; }
header nav a { display: block; width: 100%; text-align: center; padding: 10px; }

.menu { position: relative; }
.submenu { position: absolute; left: 166px; top: -30px; width: 100%; background: #6f886f; z-index: 998; display: none; }
.menu:hover > a { color: #ffffff; background: #6f886f; }
.menu li:hover > a { color: #ffffff; background: #a4c9a4; }

